@font-face {
    font-family: Recursive;
    src: url(../font/Recursive/Recursive-VariableFont_CASL\,CRSV\,MONO\,slnt\,wght.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../font/Poppins/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #232830;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 26px;
}

.navbar .logo {
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: 600;
}

.navbar .logo a {
    color: #ffffffff;
    text-decoration: none;
}

.navbar .navigation {
    display: flex;
}

.navbar .navigation li {
    font-size: 24px;
    font-family: 'Poppins';
    font-weight: 300;
    display: block;
    margin-left: 18px;
}

.navbar .navigation li a {
    color: #ffffffff;
    text-decoration: none;
}

.page-header {
    text-align: center;
    margin: 48px 0;
}

.page-header .logo-header {
    margin-bottom: 18px;
}

.page-header .title-header {
    font-size: 68px;
    font-family: 'Recursive';
    font-style: italic;
    font-weight: 500;
    color: #FF7575;
    margin-bottom: 16px;
}

.page-header .subtitle-header {
    font-size: 28px;
    font-family: 'Poppins';
    font-weight: 400;
    color: #ffffff;
}

main {
    display: flex;
    flex-direction: column;
}

.category-nav {
    border-top: 1px solid #4D4D4D;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 14px;
    position: relative;
}

.category-nav .icon img {
    margin-left: 14px;
}

.category-listing {
    display: flex;
    flex-direction: row-reverse;
}

.category-nav .category-listing li {
    font-size: 27px;
    font-family: 'Recursive';
    font-weight: 400;
    font-style: italic;
    display: block;
    margin-right: 26px;
}

.category-nav .category-listing li a {
    color: #909090;
    text-decoration: none;
}

.blur {
    position: relative;
    overflow: hidden;
    display: block;
}

.blur::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 50px;
    width: 100px;
    height: 100%;
    background: linear-gradient(to right, transparent, #232830);
    pointer-events: none;
}

.articles {
    display: flex;
    justify-content: center;
}

.articles-listing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 42px;
    font-family: 'Poppins';
    color: #0F1217;
    margin: 34px 64px;
}

.articles .card {
    width: 370px;
    height: 410px;
    background-color: #ffffff;
    border-radius: 22px;
    position: relative;
}

.articles .card img {
    padding: 15px 15px 0 15px;
    margin-bottom: 20px;
}

.articles .card .card-content {
    padding: 0 20px;
}

.articles .card .card-content h3 {
    font-size: 20px;
    margin-bottom: 6px;
}

.articles .card .card-content p {
    margin-bottom: 6px;
    line-height: 1.5;
}

.articles .card .footer-card-content {
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    bottom: 10px;
}

.articles .card .footer-card-content span {
    width: 3px;
    height: 3px;
    background-color: #0F1217;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 4px;
    margin-left: 10px;
    margin-right: 10px;
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Recursive';
    font-style: italic;
    font-weight: 400;
}

.pagination ul {
    display: flex;
}

.pagination li {
    display: block;
    margin: 10px;
}

.pagination li a {
    color: #FF7575;
    float: center;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination li a.active {
    border-top: 3px solid #FF7575;
    font-weight: 800;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #4D4D4D;
    color: #FFFFFF;
    font-size: 30px;
    font-family: 'Poppins';
}

.left {
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 40px;
}

.left span {
    margin-left: 10px;
}

.right {
    margin: 20px 40px 20px;
}

.button {
    color: #FFFFFF;
    background-color: #4699E0;
    border-radius: 5px;
    font-size: 19px;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
}

@media (max-width: 1200px) {
    .category-nav .icon {
        position: absolute;
        top: 14px;
        right: 10px;
    }

    .category-listing {
        display: none;
    }
}

@media (max-width: 781px) {
    .articles-listing {
        grid-template-columns: 1fr 1fr;
    }

    .pagination {
        font-size: 20px;
    }

    footer {
        font-size: 25px;
    }

    .button {
        font-size: 18px;
    }
}

@media (max-width:680px) {
    .articles-listing {
        grid-template-columns: 1fr;
    }

    .pagination {
        font-size: 16px;
    }

    footer {
        font-size: 20px;
    }

    .button {
        font-size: 12px;
    }


}